/* ]*{
    box-sizing: border-box;
} */

body { 
    /* display: flex;
    flex-direction: column;
    margin: 15% 20% 0 20%;
    text-align: center; */
    background-image: url("background.webp");

    font-family: 'Neucha', cursive;
} 

button, input {
    /* align-self: center; */
    font-family: 'Neucha', cursive;
} 

img { 
    display: block;
}

h1 { 
    font-size: 9rem;
}



